/* .boton-clear { */
.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 46px;
    cursor: pointer;
    user-select: none;
}

.boton-clear:hover {
    background-color: #eebb00;
}

.boton-clear:active {
    background-color: #eebb00;
    transform: scale(0.95); 
}
