.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bcondict-logo-contenendor {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.bcondict-logo {
  height: 100px;
  transform: scale(7);
  background-color: aliceblue;
  border-radius: 50%;
}

.contenedor-calculadora {
  width: 400px;
  height: 640px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}


.fila {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
